langchain==0.1.9
langchain-community==0.0.25
langchain-core==0.1.28

chromadb==0.4.22

sentence-transformers==2.2.2
transformers==4.36.2
accelerate==0.25.0
huggingface-hub==0.19.4

torch==2.1.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
python-dotenv
pypdf
python-docx
unstructured
numpy
pandas
tqdm
slowapi
limits
deprecated
langchain-groq